<div class="card-white" <%# style="height: 100vh;" %> data-controller="popup" data-popup-level-value="<%= @disposal_record.user_level(current_user) %>">
  <%= audio_tag('sound.mp3', controls: true, style: 'display: none;', id: 'audio') %>

  <% level1 = (1...5) %>
  <% level2 = (5...10) %>
  <% level3 = (10...15) %>
  <% level4 = (15...20) %>
  <% level5 = (20...25) %>
  <% level6 = (25...30) %>
  <% level7 = (30...35) %>

  <div class="box">
    <h2>Your Eco-Journey</h2>
    <div class="progress-box">
      <div class="text-box">
        You've disposed <%= current_user.disposal_records.count %> items.
        <% if level1.include?(current_user.disposal_records.count) %>
          <strong><%= level2.first - current_user.disposal_records.count %></strong> items left to your next reward.

        <% elsif level2.include?(current_user.disposal_records.count) %>
          <strong> <%= level3.first - current_user.disposal_records.count %> </strong> items left to your next reward.

        <% elsif level3.include?(current_user.disposal_records.count) %>
          <strong> <%= level4.first - current_user.disposal_records.count %> </strong> items left to your next reward.

        <% elsif level4.include?(current_user.disposal_records.count) %>
          <strong> <%= level5.first - current_user.disposal_records.count %> </strong> items left to your next reward.

        <% elsif level5.include?(current_user.disposal_records.count) %>
          <strong> <%= level6.first - current_user.disposal_records.count %> </strong> items left to your next reward.

        <% elsif level6.include?(current_user.disposal_records.count) %>
          <%= 65 - current_user.disposal_records.count %> items left to your next reward.
        <% end %>
      <%# That is <%= ((current_user.disposal_records.count / 30.0) * 100).to_i %><%# % left to your next. %>
      </div>
      <div class="progress-goal">
        <div class="progress-line" style="width: <%= ((@disposal_record.level_calc(current_user)  % 5 / 5.to_f) * 100 ).to_i %>%;"></div>
      </div>
    </div>

    <div class="rewards">
      <% if level1.first <= @disposal_record.level_calc(current_user) %>
        <div class="reward">
          <div>
            <%=image_tag "rewards-img/eco-badge.png"%>
          </div>
          Eco Hero Badge
        </div>
      <%else%>
        <div class="empty-reward">
          <div>
            <%=image_tag "rewards-img/eco-badge.png"%>
          </div>
          Eco Hero Badge
        </div>
      <% end %>

      <% if  level2.first <= @disposal_record.level_calc(current_user) %>
        <div class="reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952014/trophy_qpaara.png" alt="Trophy">
          </div>
          Green Thumb Trophy
        </div>
      <%else%>
        <div class="empty-reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952014/trophy_qpaara.png" alt="Trophy">
          </div>
          Green Thumb Trophy
        </div>
      <% end %>

      <% if level3.first <= @disposal_record.level_calc(current_user) %>
        <div class="reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952013/certificate_c5borr.png" alt="Trophy">
          </div>
          Trash Titan Certificate
        </div>
      <%else%>
        <div class="empty-reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952013/certificate_c5borr.png" alt="Trophy">
          </div>
          Trash Titan Certificate
        </div>
      <% end %>

      <% if level4.first <= @disposal_record.level_calc(current_user) %>
        <div class="reward">
          <div>
            <img src="" alt="Trophy">
          </div>
          Eco Warrior Medal
        </div>
      <%else%>
        <div class="empty-reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952013/medal_gfw0qo.png" alt="Trophy">
          </div>
          Eco Warrior Medal
        </div>
      <% end %>

      <% if level5.first <= @disposal_record.level_calc(current_user) %>
        <div class="reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952013/wizard-diploma_eezcfv.png" alt="Trophy">
          </div>
          Waste Wizard Diploma
        </div>
      <%else%>
        <div class="empty-reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952013/wizard-diploma_eezcfv.png" alt="Trophy">
          </div>
          Waste Wizard Diploma
        </div>
      <% end %>

      <% if level6.first <= @disposal_record.level_calc(current_user) %>
        <div class="reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952013/frame_mrquul.png" alt="Trophy">
          </div>
          Planet Protector Plaque
        </div>
      <%else%>
        <div class="empty-reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952013/frame_mrquul.png" alt="Trophy">
          </div>
          Planet Protector Plaque
        </div>
      <% end %>

      <% if level7.first <= @disposal_record.level_calc(current_user) %>
        <div class="reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952014/trophy_qpaara.png" alt="Trophy">
          </div>
          Sustainability Star Trophy
        </div>
      <%else%>
        <div class="empty-reward">
          <div>
            <img src="https://res.cloudinary.com/dj6psz9ru/image/upload/v1701952014/trophy_qpaara.png" alt="Trophy">
          </div>
          Sustainability Star Trophy
        </div>
      <% end %>
    </div>
  </div>

  <div class="box">
    <h2>Waste Wonder Wheel</h2>
    <div class="inner-card-white">
      <div class="dash-card">
        <a href="#" class="link chart-box" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <%= pie_chart(@bin_types_count, colors: ["#8A584C", "#4A702F", "#FFD50B"], donut: true, class:"chart")%>
        </a>
      </div>
    </div>
  </div>

  <div class="box">
    <h2>Grow Your Forest </h2>
    <div class="inner-card-white" data-controller="shuffle">
      <div class="grid-card" data-shuffle-target="grid">
        <% @disposal_records.count.times do%>
          <div class="card" data-shuffle-target="card">
            <%= image_tag "tree-icons/tree#{rand(1..3)}.png", class: "baum", alt: "tree" %>
          </div>
        <%end%>
        <% (50-@disposal_records.count).times do%>
          <div class="card" data-shuffle-target="card">
            <p><%= image_tag "tree-icons/grass.png", class: "grass", alt: "tree" %></p>
          </div>
        <%end%>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="exampleModalLabel">Your recently disposed items </h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <% @disposal_records[3..].each do |disposal_record|%>
            <% if @bin_type_id.include?(disposal_record.waste_item.bin_type_id) %>
              <p>
                <div>
                <%= disposal_record.waste_item.name%>
                </div>
                <div>
                <%= disposal_record.waste_item.bin_type.name%>
                </div>
              </p>
            <%else%>
              sorry
            <%end%>
          <%end%>
        </div>

        <div class="modal-footer">
          <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
          <%= link_to "See All", waste_items_path, class:"link button" %>
        </div>
      </div>
    </div>
  </div>
