<div class="center-container">
  <div class="new-container">
    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "bob@gmail.com" %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me,
                    input_html: { class: "toggle" },
                    wrapper_html: { class: 'toggle-wrapper' },
                    as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.submit "Log in", class: "button-new" %>
      </div>
    <% end %>
    <div class="link-container">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
