<div data-controller="camera">
<%= simple_form_for (@waste_item), data: {camera_target: "simpleform"}, html: {multipart: true} do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file, label: false, input_html:{ class: "d-none", data: {camera_target: "imageholder" }} %>
  <%= f.submit %>
<% end %>

<input
        id="cameraFileInput"
        type="file"
        accept="image/*"
        capture="environment"
        data-action="change->camera#upload"
      />
    </label>

    <img data-camera-target="picture" id="pictureFromCamera" />
</div>

  <%= form_with url: vision_analyze_path, action: "/vision_analyze", method: :post, local: true do |form| %>
    <%= form.text_field :photo_url, placeholder: 'Enter Image URL' %>
    <%= form.submit 'Analyze Image' %>
  <% end %>
