<div data-controller="dispoal-modal">
  <div data-dispoal-modal-target="modal" class="hidden-modal hidden" tabindex="-1">
    <p>Hang tight!</p>
    <div class="gif">
      <%= image_tag "other/teddy-bear.gif" %>
    </div>
    <p>Our virtual acrobats are doing somersaults to bring in the content.</p>
  </div>

  <div class="item-container">
    <%= cl_image_tag @waste_item.photo.key, class: "card-img-top img-fluid" %>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-body">
              <%# Only rendering remote for DEMO %>
            <%= render "waste_items/bin_type_texts/remote_bin" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-info button" data-bs-dismiss="modal">Okay</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <h3 style="padding: 5px; font-weight: bold;"><%= @waste_item.name %></h3>
      <h5 class="modal-title button text-white p-1" style="width: 110px; height: 30px; font-size: 14px;" id="staticBackdropLabel">Learn more</h5>
    </div>

    <p style="padding: 5px;">Find <%= @waste_item.bin_type.name %> bins on the map below</p>
  </div>

    <div class="map-container">
      <div style="width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <p style="padding: 5px;">Navigate to the nearest <%= @waste_item.bin_type.name %> with Google Maps by clicking on the address!</p>
    </div>

  <div class="modal fade" id="staticBackdrop" data-dispoal-modal-target="disposal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-dispoal-modal-target="button">
      Launch Trash Modal
    </button>
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content" data-dispoal-modal-target="modal">
        <div class="modal-header">Did you give the trash its grand farewell?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" data-action="click->dispoal-modal#close" data-dispoal-modal-target="form"></button>
        </div>
        <div class="modal-footer">
        <%= simple_form_for @disposal_record do |f| %>
          <%= f.input :waste_item_id, as: :hidden, input_html: {value: @waste_item.id} %>
          <%= f.submit "Trash It!", style:"width: 110px; height: 30px; font-size: 14px", class:"button link"%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
