<div data-controller="dispoal-modal">
  <div data-dispoal-modal-target="modal" class="hidden-modal hidden" tabindex="-1">
    <p>Hang tight!</p>
    <div class="gif">
      <%= image_tag "other/teddy-bear.gif" %>
    </div>
    <p>Our virtual acrobats are doing somersaults to bring in the content.</p>
  </div>

  <div class="item-container">
    <%= cl_image_tag @waste_item.photo.key, class: "card-img-top img-fluid" %>
    <div class="modal fade" id="learnMoreModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-body">
              <%# Only rendering remote for DEMO %>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://onecms-res.cloudinary.com/image/upload/s--ntm1IwI3--/c_fill,g_auto,h_468,w_830/f_auto,q_auto/e-waste-recycling-bin-a-harvey-norman-outlet-jun-30---2021.jpg?itok=EkvcIQfe" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    
                  </div>
                  <h5>Electronics Bin</h5>
                    <p>For used electronics and objects with the WEEE logo. These bins are in electronics stores, hardware stores, and some supermarkets</p>
                </div>
                <div class="carousel-item">
                  <img src="https://media.istockphoto.com/id/1211554164/photo/3d-render-of-home-appliances-collection-set.jpg?b=1&s=612x612&w=0&k=20&c=gkgvbE0sGmNs5xOWBlfhEXPENF2tqXzG2k5_svFAwLw=" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">

                  </div>
                  <h5>Electronics Bin</h5>
                    <p>For used electronics and objects with the WEEE logo. These bins are in electronics stores, hardware stores, and some supermarkets</p>
                </div>
                <div class="carousel-item">
                  <img src="https://cms-images.mmst.eu/fw7ws5lvie5f/6SnQfeaMkaz9yPek9mGBNN/8146b2b64874b0d5d7a60d89a721e4b3/logo.png?q=80" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">

                  </div>
                  <h5>Electronics Bin</h5>
                    <p>For used electronics and objects with the WEEE logo. These bins are in electronics stores, hardware stores, and some supermarkets</p>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <p style="margin-top: 3px"><%= @waste_item.bin_type.description %></p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn-info button" data-bs-dismiss="modal">Okay</button>
          </div>
        </div>
      </div>
    </div>

    <div class="box-show">
      <div class="d-flex justify-content-between align-items-center" data-controller="learn-modal">
        <h3 style="padding: 5px; font-weight: bold;"><%= @waste_item.name %></h3>
        <button type="button" class="modal-title button text-white p-1" data-bs-toggle="modal" data-bs-target="#learnMoreModal" data-dispoal-modal-target="button" data-action="click->learn-modal#open" style="width: 110px; height: 30px; font-size: 14px;" id="staticBackdropLabel">
        Learn more
        </button>
      </div>

      <p style="padding-left: 5px;">Find <%= @waste_item.bin_type.name %> bins on the map below</p>
      </div>
    </div>

    <div class="map-container">
      <div style="width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <p style="padding: 5px;">Navigate to the nearest <%= @waste_item.bin_type.name %> bins with Google Maps by clicking on the address!</p>
    </div>

  <div class="modal fade" id="staticBackdrop" data-dispoal-modal-target="disposal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-dispoal-modal-target="button">
      Launch Trash Modal
    </button>
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content" data-dispoal-modal-target="modal">
        <div class="modal-header">Did you give the trash its grand farewell?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" data-action="click->dispoal-modal#close" data-dispoal-modal-target="form"></button>
        </div>
        <div class="modal-footer">
        <%= simple_form_for @disposal_record do |f| %>
          <%= f.input :waste_item_id, as: :hidden, input_html: {value: @waste_item.id} %>
          <%= f.submit "Trash It!", style:"width: 110px; height: 30px; font-size: 14px", class:"button link"%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
