<!DOCTYPE html>
<html>
  <head>
    <title>WasteWise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>

  </head>

  <body style="background-color: #F2FFE9">
    <%= render "shared/navbar" %>
    <%= render "shared/button_bar" %>
    <%= render "shared/flashes" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
